log4perl.rootLogger = INFO, SCREEN
#log4perl.logger.ETL.Wrap = DEBUG
#log4perl.logger.ETL.Wrap.DB = TRACE
#log4perl.logger.ETL.Wrap.FTP = TRACE
#log4perl.logger.ETL.Wrap.File = TRACE
#log4perl.logger.ETL.Wrap.Common = TRACE

log4perl.PatternLayout.cspec.U = sub { return $ENV{USERNAME};}

# screen appender config
log4perl.appender.SCREEN = Log::Log4perl::Appender::ScreenColoredLevels
log4perl.appender.SCREEN.color.TRACE = magenta
log4perl.appender.SCREEN.color.DEBUG = cyan
log4perl.appender.SCREEN.color.WARN = blue on_white
log4perl.appender.SCREEN.color.ERROR = red on_white
log4perl.appender.SCREEN.color.FATAL = blink red on_white
log4perl.appender.SCREEN.stderr = 0
log4perl.appender.SCREEN.layout = PatternLayout
log4perl.appender.SCREEN.layout.ConversionPattern = %d	%P	%p	%U/%H	%M-%L	%m%n


